
a {
    text-decoration: none;
}

body {
    margin: 0px;
    /* background-image: url(recipebackground.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(white, lightblue);
}

* {
    box-sizing: border-box;
  }  

:root {
    font-family:Arial, Helvetica, sans-serif;
}  

  img {
    width: 100%;
    height: auto;
  }

  /* p {
      background-color: aliceblue;
      opacity: 0.5;
  } */

.container {
    display: grid;
    height: 100vh;
    grid-template-columns:  1.4fr 2fr 1fr;
    grid-template-rows: 0.5fr 3fr 3fr 3fr 2fr 0.5fr;
    grid-template-areas:
        "nav nav nav"
        "sidebarleft content1-1 sidebarright"
        "sidebarleft content2-1 sidebarright"
        "sidebarleft content3-1 sidebarright"
        "sidebarleft content4-1 sidebarright"
        "footer footer footer";
}

.container2  {
    display: grid;
    height: 20vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "arrpicture1 arrContent1"
    "arrpicture2 arrContent2"
    "arrpicture3 content3"
    "comment comment";
}

.arrContent1 {
    grid-area: arrContent1;
}
.arrContent2 {
    grid-area: arrContent2;
}
.content3 {
    grid-area: content3;
}

.picture1 {
    grid-area: picture1;
}

.picture2 {
    grid-area: picture2;
}

.picture3 {
    grid-area: picture3;
}



nav {
    grid-area: nav; 
}

.sidebarleft {
    grid-area: sidebarleft;
    /* background: blueviolet; */
}

.sidebarright {
    grid-area: sidebarright;
    /* background: blue; */
}

.content1-1 {
    /* background: #18ffff; */
    grid-area: content1-1; 
    max-width: 800px;
}

.content2-1 {
    /* background: #64ffda; */
    grid-area: content2-1;
    align-content: left;
    max-width: 800px;
}

.content3-1 {
    grid-area: content3-1;
    max-width: 800px;
}

.content4-1 {
    grid-area: content4-1;
    max-width: 800px;
}

footer {
    grid-area: footer;
    height: 25px;
}

/*----------------------------- Setting up the grid -------------------------------------------------------- */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    font-weight: 800;
    background-color: white; 
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: lightblue; 
    margin-bottom: 100px;
}

.navbarlist {
    float: left;  
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    font-size: 16px;
    color: #000042;
    text-decoration: none;
    margin: 0px;
} 

h2 {
    text-align: left;
    font-size: 35px;
    margin-top: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

.picture{
    max-width: 800px;
}

ul {
    font-size: 20px;
    
}

ol {
    font-size: 20px;
}

.instructions {
    font-weight: 200;
    margin-bottom: -25px;
}

.ingrediants {
        font-weight: 200;
        margin-bottom: -25px;
}


#location1 {
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px 8px;
    margin-bottom: -2px;
}


#location2 {
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px 8px;
}

/* #comments {
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px 8px;
} */ 

.something {
    border: solid 1px black;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px 8px;
    height: 51px;
}

#comment {
    grid-area: comment;
    border: solid 1px black;
    border-radius: 5px;
    width: 800px;
    margin-top: -14px;
    padding: 12px 10px;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif
}

.fa-instagram {
    font-size: 25px;
}

#buttonClick {
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    background-color: lightgray;
    margin-top: 5px;
    border-radius: 5px;
}

.avatar1 {
    width: 50px;
    height: auto;
}

.avatar2 {
    width: 50px;
    height: auto;
}

.avatar3 {
    width: 50px;
    height: auto;
}
/*----------------------------------------------media tags----------------------------------------------------------*/
@media (max-width: 800px) {
    .container {
      grid-template-areas:
        'nav'
        'content1-1' 
        'content2-1'
        'content3-1'
        'footer';
    }

    .navbar {
        min-width: 800px;
    }

