

.container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-top: 15px;
}

body {
    background-color: #000639 ;
}

.title {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align:start;
}

.title1 {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: start;
}

.subscribe {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-align: start;
    padding-top: 40px;
    font-weight: 510;
}

.prompt {
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: #C23628;
    text-align: start;
    font-weight: 700;
}

.email {
    color: #7B7B7B;
    border-radius: 8px;
}

input[type=email]  {
    width: 230px;
    padding: 12px;
    font-size: 14px;
}

.signup {
    width: 445px;
    padding: 12px;
    margin-top: 10px;
    font-size: 14px;
    background-color: #5c6ac4;
    text-align: center;
    color: #FFFFFF;
    font-weight:650;
    border-radius: 8px;

}

.hr {  
    width: 25px;  
    height: 2px;  
    background-color: #7AB55C;    
    align-content:flex-start;

}  

.footer {
    padding-top: 10px;
    width: 100%;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    
}

.interests {
    color: #7B7B7B;
    border-radius: 8px;
    width: 200px;
    padding: 11px;
    margin-left: 10px;    
    font-size: 14px;
    
}