

.container {
  
    padding-top: 15px;
}

body {
    background-color: #000639 ;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: #FFFFFF;
    justify-content: left;
    background-color:#000639;
    height: 100vh;
}

.title {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align:start;
}

.title1 {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: start;
}

.subscribe {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-align: start;
    padding-top: 40px;
    font-weight: 510;
}

.prompt {
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: #C23628;
    text-align: start;
    font-weight: 700;
}

.email {
    color: #7B7B7B;
    border-radius: 8px;
}

input[type=email]  {
    width: 150px;
    padding: 12px;
    font-size: 14px;
}

.signup {
    width: 465px;
    padding: 12px;
    margin-top: 10px;
    font-size: 14px;
    background-color: #5c6ac4;
    text-align: center;
    color: #FFFFFF;
    font-weight:650;
    border-radius: 8px;
}

.hr {  
    width: 25px;  
    height: 2px;  
    background-color: #7AB55C;    
    align-content:flex-start;

}  

.footer {
    padding: 15px; */
    width: 100%;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    /* bottom: 0;
    left: 0;
    right: 0;    */
} 

.interests {
    color: #7B7B7B;
    border-radius: 8px;
    width: 242px;
    padding: 11px;
    margin-left: 10px;    
    font-size: 14px;
    /* appearance: none;
    background: url(downarrow.png) no-repeat left 150px center;
    background-size: 30px 
    */
} 


/* Why does the default arrow still show up in the background & why will it not let me click the arrow to complete the drop down */
i.fa-arrow-down {
    transform: translatex(calc(-160%)); /* move left the icon's width */
    border-left: 1px solid rgb(8, 8, 8);       /* add the border             */
    padding: 0 10px;                     /* left and right padding     */
  }

  input {
    padding-right: 2em;                 /* prevent typing over icon   */
  }

  .grid-item2 {
      width: auto;
      margin: auto;
  }