body {
    margin: 0px;
}

* {
    box-sizing: border-box;
  }  

  img {
    width: 100%;
    height: auto;
  }

.container {
    display: grid;
    height: 100vh;
    grid-template-columns:  2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 0.5fr 6fr 6fr 0.2fr;
    grid-template-areas:
        "sidebarleft nav nav nav nav nav nav nav nav sidebarright"
        "sidebarleft content1 content1 content1 content1 content1 content1 content1 content1 sidebarright"
        "sidebarleft content2 content2 content2 content2 content2 content2 content2 content2 sidebarright"
        "footer footer footer footer footer footer footer footer footer footer";
}

nav {
    background: lightgreen;
    grid-area: nav;
}

.sidebarleft {
    background: white;
    grid-area: sidebarleft;
}

.sidebarright {
    background: white;
    grid-area: sidebarright;
}

.content1 {
    background: #18ffff;
    grid-area: content1; 
    text-align: center
}

.content2 {
    background: #64ffda;
    grid-area: content2;
    text-align: center;
}

footer {
    background: #1de9b6;
    grid-area: footer;
}

/*-------------------------------------------------------------------------------------------------------- Setting up the grid */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    font-weight: 800;
    background-color: white; 
}

.navbarlist {
    float: left;  
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    font-size: 16px;
    color: #000042;
    text-decoration: none;
    margin: 0px;
} 

.tacquitos {
    float: inline;
    clear: both;
    max-width: 500px;
    height: auto;
    min-width: 200px;
    padding-bottom: 15px;
}

.recipeglance {
    border: 1px solid black;
    min-width: 200px;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
}

.rating {
    align-content: left;
    font-size: 25px;
    padding-top: 5px;
  }

  .checked {
    color: orange;
  }