
a {
    text-decoration: none;
}

body {
    margin: 0px;
    /* background-image: url(recipebackground.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(white, lightblue);
}

* {
    box-sizing: border-box;
  }  

:root {
    font-family:Arial, Helvetica, sans-serif;
}  

  img {
    width: 100%;
    height: auto;
  }

  /* p {
      background-color: aliceblue;
      opacity: 0.5;
  } */

.container {
    display: grid;
    height: 100vh;
    grid-template-columns:  0.2fr 0.5fr 2.5fr 3.5fr 0.5fr 4fr 0.5fr 0.2fr;
    grid-template-rows: 0.5fr 3fr 0.5fr 3fr 2fr;
    grid-template-areas:
        "nav nav nav nav nav nav nav nav"
        "sidebarleft div1-1 content1-1 content1-12 content1-12 content1-12 div1-3 sidebarright"
        "sidebarleft div1-1 heading heading heading heading div1-3 sidebarright"
        "sidebarleft div2-1 content2-1 content2-1 div2-2 content2-2 div2-3 sidebarright"
        "footer footer footer footer footer footer footer footer";
}

nav {
    grid-area: nav; 
}

.sidebarleft {
    grid-area: sidebarleft;
    /* background: blueviolet; */
}

.sidebarright {
    grid-area: sidebarright;
    /* background: blue; */
}

.content1-1 {
    /* background: #18ffff; */
    grid-area: content1-1; 
    text-align: left;
    margin-top: 60px;
    /* margin-bottom: 100px; */
}

.content1-12 {
    /* background: #18ffff; */
    grid-area: content1-12; 
    text-align: left;
    /* margin-top: 60px; */
    margin-left: 70px;
    /* margin-bottom: 100px; */
}

.content1-2 {
    /* background: #18ffff; */
    grid-area: content1-2;
    margin-top: 60px;
}

.heading {
    grid-area: heading;
    margin-top: 150px;
}

.content2-1 {
    background: #64ffda;
    grid-area: content2-1;
  
    /* text-align: center; */
    /* margin-bottom: 100px; */
}

.content2-2 {
    grid-area: content2-2;
    /* background: orange; */

}

.footer {
    grid-area: footer;
    margin-bottom: 500px;
}

/*-------------------------------------------------------------------------------------------------------- Setting up the grid */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    font-weight: 800;
    background-color: white; 
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: lightblue; 
    margin-bottom: 100px;
}

.navbarlist {
    float: left;  
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    font-size: 16px;
    color: #000042;
    text-decoration: none;
    margin: 0px;
} 

.profile {
    border-radius: 50%;
    height: auto;
    max-width: 500px;
    min-width: 200px;
    /* margin: 100px;  */
    position: relative;
    align-content: center;
} 

.description {
    text-align: left;
    font-size: 20px;
   max-width: 800px; 
    margin-top: 60px;
    font-weight: 400
}

.description_heading {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 25px;
}

.heading{
    font-size: 25px;
}


.tacquitolist {
    text-align: left;
    font-size: 18px;
    padding-bottom: 3px;
  
    
}

.tacquitocontent {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.tacquitoingediants {
    text-align: left;
    padding-left: 20px;
}

.tacquitolist2{
    text-align: left;
    margin-bottom: 30px;
}