
.grid_container1 {
    display: grid;
    width: min(100%);
    grid-template-columns: 15% 70% 15%;
    text-align: center;
    background-color: lightblue;
}


.home {
    padding: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: white;
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a6a6a6;
}


li {
    float: left;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.block1 {
    display: grid;
    width: min(100%);
    grid-template-columns: 35% 65%;
    background-color: white;
    height: 600px;
}
.block2 {
    display: grid;
    width: min(100%);
    background-color: white;
    height: 300px;
}



.grid_container2 {
    display: grid;
    width: min(100%);
    grid-template-columns: 15% 70% 15%;
    text-align: center;
    background-color:lightblue;
}


.grid_container3 {
    display: grid;
    width: min(100%);
    grid-template-columns: 15% 70% 15%;
    text-align: center;
    background-color:lightblue;
    height: 10px;
}

.kitchen {
    height: 150px;
    align-content: center;
    
}

img {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    margin: 100px;
}



